#principal{
    width: 1024px;
    margin: 0 auto;
}

#cuadro{    
    margin: 100px auto;
    width: 40%;
    text-align: center;
}
header {
    padding: 156px 0 100px;
    /* background-image: url("../img/Divergames.gif") ; 
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 450px; */
}
section {
    padding: 150px 0;
}
.ui-growl {
    margin-top: 50px;
}

.rojo{
    color: red;
}

#clock {
    font-size: 5em;
    text-align: center;
    margin: 1em;
}

.scroll {
    display: block;
    overflow-y: auto;
}

.separador{
    width: 100%;
    height: 40px;
    background-color: gray;
}

.pcfondo{
/*    background-image: url("../resources/img/ju.jpg") ;
    background-repeat: no-repeat;
    background-size: 100% 100%;*/
background-color: darkgrey;
}